@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Encode Sans Semi Expanded', 'Roboto', sans-serif;
  box-sizing: border-box;
  transition: 0.3s ease-out !important;
}

html, body {
  position: relative;
  overflow-x: hidden;
  background-image: url(https://i.imgur.com/60jhmZj.png);
}

.player-box {
    position: relative;
    width: 597px;
    height: 198px;
    left: 675px;
    top: 350px;
    background-image: url();
    border-radius: 45px;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.25);
}

.title {
  color: white;
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: -7.5px;
  text-shadow: 0 8px 24px rgb(0 0 0 / 0.65);
}

.artist {
  color: rgba(255, 255, 255, 0.75);
  margin: 0;
  font-size: 16px;
  text-shadow: 0 8px 24px rgb(0 0 0 / 0.65);
}

.dj {
    color: white;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -7.5px;
    text-shadow: 0 8px 24px rgb(0 0 0 / 0.65);
}

.circled-image {
    width: 100px;
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
    margin-left: 6px;
    box-shadow: 0 8px 24px 2.5px rgb(0 0 0 / 0.65);
}

.stats {
    position: absolute;
    margin-top: -15px;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
}

.stats-left {
    z-index: 2;
    right: 40px;
    text-align: right;
    width: calc(100% - 100px);
}

.container, .container-fluid {
    position: relative;
}

.footer {
    border: 0px solid #000000;
    box-shadow: inset 0 0 0 2.5px rgba(255, 255, 255, 0.05), 0 2.5px 12px #0e1115;
    -webkit-box-shadow: inset 0 0 0 2.5px rgba(255, 255, 255, 0.05),0 2.5px 12px #0e1115;
}

.footer {
    position: relative;
    background-image: url();
    top: 715px;
}



.controls-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.9) !important;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: fit-content;
    font-size: 10px;
    text-shadow: 0px 1px rgba(0,0,0,.4);
    box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,.1), inset 0px -2px 18px 0px rgba(255,255,255,.1), 0px -2px 28px 0px rgba(0,0,0,.4);
    border-radius: 24px;
    height: 40px;
    width: 180px;
    bottom: 8px;
    right: 195;
    border-radius: 50px;
}

.control
{
    width: 10.333%;
    float: left;
    position: relative;
    left: 215px;
    bottom: -137px;
}

.button
{
    width: 26px;
    height: 26px;
    padding: 25px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.9) !important;
    cursor: pointer;
}

.button i:hover
{
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: -1;
}

.player-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 45px;
  }

.player-bg img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 10px);
    min-height: calc(100% + 10px);
    transform: translate(-50%, -50%);
    filter: blur(5px) saturate(1.25) brightness(0.65) grayscale(0.15);
}

.discord-widget {
    position: relative;
    left: 15px;
    top: -238px;
}
